<div class="page-header">
  <div class="container">
    <h1>Menu</h1>
    <div class="navLinks">
      <a [routerLink]="['/articles']">Articles</a> |
      <a [routerLink]="['/sku']">SKU example</a> |
      <a [routerLink]="['/skubuilder']">SKU builder example</a> |
      <a [routerLink]="['/signin']">Sign In</a> |
      <a [routerLink]="['/basicrequest']">Basic request</a> |
      <a [routerLink]="['/search']">Search as you type</a> |
      <a [routerLink]="['/products']">Products</a> |
      <a [routerLink]="['/login']">Login</a> |
      <a [routerLink]="['/protected']">Protected</a> |
    </div>
  </div>
</div>